.Wrapper {
    width: 95%;
    height: 95%;
    position: relative;
}

.leafletContainer {
    height: 95vh;
    width: 95vw;
    z-index: 1; 
}

.openBocetoButton {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    scale: 1.5;
    z-index: 10; 
}

.openBocetoButton:hover {
    background-color: var(--color-secundario);
    color: black;
    border: 1px solid var(--color-principal);
}
