.Wrapper {
    position: fixed;
    z-index: 100;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--color-purple);
    width: 100px;
    height: 100vh;
    left: -80px;
    transition: left 0.3s ease;

    a {
        color: black;
    }
}

.Wrapper:hover {
    left: 0;
}

.Nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    color: black;
}

.Icon {
    margin: 30px 0;
    scale: 2;
}

.Icon:hover {
    cursor: pointer;
}

.Exit{
    margin: 25px 0;
    scale: 2;
    margin-top: auto;
}

.Exit:hover {
    cursor: pointer;
}
