  .login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://www.upb.edu.co/es/imagenes/img-upbsostenibleaerea-1464235639641.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: black;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    color: black;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    width: 280px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-principal);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--color-secundario);
    color: black;
    border: 1px solid var(--color-principal);
  }

  .back-button {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.5;
  }
  
  .back-button:hover {
    background-color: var(--color-secundario);
    color: black;
    border: 1px solid var(--color-principal);
  }
  